@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #1A120B;
    --cor-secundaria: #E5E5CB;
    --cor-terciaria: #D5CEA3;
    --cor-hover:#3C2A21;
    
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; pode remover após adicionar muitos elementos*/
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 5%;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__titulo{
    /* 1rem é igual a 16px */
    /* O rem é um valor relativo, que é bom para usar porque caso o tamanho da config do apperence navegador for alterada
    ele permite que os elementos texto que usam rem aumente ou diminua conforme a config */
    font-size: 2.25rem;
    font-family: var(--fonte-primaria)
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    /* background-color: var(--cor-terciaria); */
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    border-radius: 8px;
    text-align: center;    
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
    padding: 3%;
}

.img-apresentacao{
    width: 50%;
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 17px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.115rem;
    font-weight: 400px;
}


@media (max-width: 1200px){

    .cabecalho{
        padding: 10%;
    }   

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        /* é interessante a largura acompanhar o padding que foi definido no elemento pai,
         ela precisa seguir oq o pai ta fazendo (.apresentacao 5%) */
        width: auto;
        
    }

}

